<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite"
                type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SQLite"
         connectionString="Data Source=|DataDirectory|openiddict-sandbox-wpf-client.sqlite3;Version=3" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
