@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Verrouillé";
}

<hgroup>
    <h1 class="text-danger">Verrouillé.</h1>
    <h2 class="text-danger">Ce compte a été verrouillé ; veuillez réessayer ultérieurement.</h2>
</hgroup>
