@{
    ViewBag.Title = "Confirmation du mot de passe oublié";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vérifiez votre adresse de messagerie pour réinitialiser votre mot de passe.
    </p>
</div>
	
