@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@model OpenIdConnectMessage
    
<div class="jumbotron">
    <h1>An OpenID Connect error has occurred</h1>
    <p class="lead text-left">
        <strong>@Model.Error</strong>
        @if (!string.IsNullOrEmpty(Model.ErrorDescription)) {
            <small>@Model.ErrorDescription</small>
        }
    </p>
</div>