@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@model OpenIdConnectMessage

<div class="jumbotron">
    <h1>Log out</h1>
    <p class="lead text-left">Are you sure you want to sign out?</p>

    <form action="@Url.Action("Signout", "Authorization")" enctype="application/x-www-form-urlencoded" method="post">
        @Html.AntiForgeryToken()

        @* Flow the logout request *@
        @foreach (var parameter in Model.Parameters) {
            <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <input class="btn btn-lg btn-success" name="Confirm" type="submit" value="Yes" />
    </form>
</div>